@mixin warpper{
    height: 4rem;
    width: 100%;
    background-color: #fff;
    position: fixed;
    text-align: center;
    box-shadow: 0 0.3rem 0.6rem #ccc;

    .nav{  
        height: 100%;
        display: flex;
        
        .nav-tip{
            line-height: 4rem;
            width: 20%;
            cursor: pointer;
            font-size: 1.5rem;
            color: #585858;
            text-decoration: none;
            transition: background-color  1s;

            &:active {
                background-color: #ccc;
            }
        }
    }
}